In [1]:

import sys

import pandas as pd
import numpy as np
import re
import nltk
from sklearn.datasets import load_files
nltk.download('stopwords')
import pickle
from nltk.corpus import stopwords
from sklearn.preprocessing import LabelEncoder

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Dalia\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
df = pd.read_json('News_Category_Dataset_v2.json', lines=True)

In [18]:
df.head()

,category,headline,authors,link,short_description,date
0,CRIME,There Were 2 Mass Shootings In Texas Last Week...,Melissa Jeltsen,https://www.huffingtonpost.com/entry/texas-ama...,She left her husband. He killed their children...,2018-05-26
1,ENTERTAINMENT,Will Smith Joins Diplo And Nicky Jam For The 2...,Andy McDonald,https://www.huffingtonpost.com/entry/will-smit...,Of course it has a song.,2018-05-26
2,ENTERTAINMENT,Hugh Grant Marries For The First Time At Age 57,Ron Dicker,https://www.huffingtonpost.com/entry/hugh-gran...,The actor and his longtime girlfriend Anna Ebe...,2018-05-26
3,ENTERTAINMENT,Jim Carrey Blasts 'Castrato' Adam Schiff And D...,Ron Dicker,https://www.huffingtonpost.com/entry/jim-carre...,The actor gives Dems an ass-kicking for not fi...,2018-05-26
4,ENTERTAINMENT,Julianna Margulies Uses Donald Trump Poop Bags...,Ron Dicker,https://www.huffingtonpost.com/entry/julianna-...,"The ""Dietland"" actress said using the bags is ...",2018-05-26

In [19]:
cp = df['headline'] 
df["Text"] = cp

cp = df["category"]
df["Cat1"] = cp

df1 = df[["Text","Cat1"]]

In [5]:
enc = LabelEncoder().fit(df1.Cat1)
encoded = enc.transform(df1.Cat1)

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.Text, encoded,test_size=0.03, random_state=42)

In [7]:
print(" -------- -- -- -- -- -",end='')

hh = sys.argv[1]
hh = str(hh)
print("Input text = ", hh," ||  ", end="    ")

 -------- -- -- -- -- -Input text =  -f  ||

In [8]:
X_test.reset_index(drop=True,inplace=True)

In [9]:
X_test.reset_index

<bound method Series.reset_index of 0       Shooting Rampage Results In 'Mass Casualties' ...
1       Donald Trump Lashes Out At CNN, ABC Over Repor...
2       Model Kate Moss Walks Louis Vuitton RTW Fall 2013
3                 7 Ways Single Moms Cope With Loneliness
4       Sen. Sherrod Brown: Steve Bannon 'Is A White S...
                              ...
6021                 A Thank You Note To HuffPost Readers
6022    Ask Healthy Living: Does Sex Really Count As E...
6023    Hardline Immigration Hawks Are Starting To Pan...
6024    Donald Trump Boasted His Building Was Tallest ...
6025    Send in the Air Force Combat Controllers and G...
Name: Text, Length: 6026, dtype: object>

In [10]:
X_test[0] = hh

In [11]:
X_test[0]

'-f'